@import "variables";

body {
    font-family: $font-family-base;
    position: relative;
    background-color: $dark-black;
    color: $black;
}

@import "linkButton";
@import "navbar";

/* main content */
.main-container {
    min-height: 400px;
    margin-top: $navbar-height;
    background-color: $background-blue;
    background-image: url("https://minhta.com.au/img/body-bkg.jpg");
    background-repeat: repeat-x;
    background-position: 0 0;
}

.mt-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* heading for all pages */
.mt-heading {
    margin-bottom: 30px;
    border-top: 1px solid $grey-heading;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-image: url("/img/heading-bkg.jpg");
    background-repeat: repeat-x;
    background-position: 0 0;
}

.mt-heading h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/* mt-home */
.home-center {
    display: table;
    margin: 0 auto;
}

/* blockquote */
blockquote {
    border-left: 4px solid $dark-ocean-blue;
    background-color: $background-blue;
}

.thumbnail-changed {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

@import "scrollTop";
@import "footer";

