@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en');

/*
 * Typography
 * ========================================================================== */
$font-family-base:      'Roboto', 'Helvetica', sans-serif;

/*
 * Colors
 * ========================================================================== */
$black: #353535;
$dark-black: #151515;
$light-black: #656565;
$grey: #CCCCCC;
$grey-heading: rgba(18, 93, 132, 0.2);
$dark-ocean-blue: #125D84;
$mid-ocean-blue: #15A9C7;
$light-ocean-blue: #54DBDF;
$background-blue: #E8F7FF;

$facebook: #2B4170;
$facebook-hover: #3B5998;
$google: #C33219;
$google-hover: #E64522;
$linkedin: #0073B2;
$linkedin-hover: #009CDA;
$pinterest: #A0171C;
$pinterest-hover: #CB2027;
$twitter: #0081CE;
$twitter-hover: #00ACED;
/*
 * Navbar
 * ========================================================================== */
$navbar-inner-margin: 4px;
$navbar-inner-height: 60px;
$navbar-height: 60px + 2 * $navbar-inner-margin;
$navbar-toggle-margin: ($navbar-height - 7 * $navbar-inner-margin) / 2;

/*
 * Mixins
 * ========================================================================== */
@mixin transition($value) {
    -webkit-transition: $value; /* WebKit */
    -moz-transition: $value; /* Mozilla */
    -o-transition: $value; /* Opera */
    transition: $value; /* Generic */
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: $radius; /* Firefox 1-3.6 */
    -ms-border-radius: $radius;
    border-radius: $radius; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}

@mixin transform-rotate($value) {
    -ms-transform: rotate($value); /* IE 9 */
    -webkit-transform: rotate($value); /* Chrome, Safari, Opera */
    -moz-transform: rotate($value); /* Mozilla */
    transform: rotate($value); /* Generic */
}

@mixin transform-scale($value) {
    -ms-transform: scale($value); /* IE 9 */
    -webkit-transform: scale($value); /* Chrome, Safari, Opera */
    -moz-transform: scale($value); /* Mozilla */
    transform: scale($value); /* Generic */
}

@mixin box-shadow($params) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin opacity($value) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value})"; /* for IE8 */
    filter: alpha(opacity=$value); /* for IE5-7 */
    opacity: $value/100; /* for all other browsers */
}

body {
    font-family: $font-family-base;
    position: relative;
    background-color: $dark-black;
    color: $black;
}

a {
    color: $dark-ocean-blue;
    text-decoration: none;
    @include transition(color .25s ease-in-out);

    &:focus,
    &:hover {
        color: $mid-ocean-blue;
        text-decoration: none;
    }
}

/* top menu layout */
.navbar-changed {
    min-height: $navbar-height;
    background-color: white;
    border: 0 none;
    @include border-radius(0);
    margin: 0;
    padding: 0;

    /* navbar-toggle */
    .navbar-toggle,
    .navbar-toggle:focus,
    .navbar-toggle:hover
    {
        background: transparent !important;
        border: 0 none;
        @include border-radius(0);
        margin-top: $navbar-toggle-margin;
        margin-bottom: $navbar-toggle-margin;
        padding: 0 10px;
    }

    .navbar-toggle {
        .icon-bar {
            @include border-radius(0);
            height: $navbar-inner-margin;
            width: $navbar-inner-height / 2;
            background-color: $light-black;
            @include transition(all .25s);

            & + .icon-bar {
                margin-top: 2 * $navbar-inner-margin;
            }
        }

        &:focus > .icon-bar,
        &:hover > .icon-bar {
            background-color: $dark-ocean-blue;
            @include transform-rotate(360deg);
        }
    }

    .navbar-brand {
        height: $navbar-inner-height;
        margin-top: $navbar-inner-margin;
        margin-bottom: $navbar-inner-margin;
        padding: 0 0 0 15px;
        @include transition(all .25s ease-in-out);

        &:hover {
            @include transform-scale(1.1);
        }
    }

    /* remove collapse top line */
    .navbar-collapse,
    .navbar-form {
        border: 0 none;
    }

    .navbar-collapse {
        @include box-shadow(none);
    }

    .navbar-nav {
        li {
            a,
            a:focus,
            a:hover {
                line-height: $navbar-inner-height;
                background: transparent;
                padding-top: 0;
                padding-bottom: 0;
            }

            a {
                color: $light-black;
                font-weight: 200;
                @include transition('font-weight, text-transform .25s ease-in-out');
                border: 0 none;
                margin: $navbar-inner-margin 0;

                &:focus,
                &:hover {
                    color: $dark-ocean-blue;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }

        li.active > a,
        li.active > :focus,
        li.active > :hover{
            color: $dark-ocean-blue;
            background-color: transparent;
            text-transform: uppercase;
            font-weight: 600;
            line-height: $navbar-inner-height;
            border-top: $navbar-inner-margin solid $dark-ocean-blue;
            border-bottom: $navbar-inner-margin solid $dark-ocean-blue;
            margin: 0;
        }

        /* dropdown-menu */
        .dropdown-menu {
            border: 1px solid $grey;
            @include border-radius(0);
            @include box-shadow(none);
            margin: 1px 0 0;

            li {
                a,
                a:focus,
                a:hover {
                    background: transparent;
                }
                a {
                    color: $light-black;
                    font-weight: 200;
                    @include transition('font-weight, text-transform .25s ease-in-out');

                    &:focus,
                    &:hover {
                        color: $dark-ocean-blue;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .open {
            & > a,
            & > a:focus,
            & > a:hover {
                background-color: $dark-ocean-blue;
                color: white;
                @include border-radius(0);
                margin: 0;
                line-height: $navbar-height;
            }

            .dropdown-menu {
                li {
                    a {
                        color: $light-black;

                        &:focus,
                        &:hover {
                            color: $dark-ocean-blue;
                        }
                    }
                }
            }
        }
    }
}

.navbar-clear-margin {
    margin-bottom: 0;
}

/* main content */
.main-container {
    min-height: 400px;
    margin-top: $navbar-height;
    background-color: $background-blue;
    background-image: url("https://minhta.com.au/img/body-bkg.jpg");
    background-repeat: repeat-x;
    background-position: 0 0;
}

.mt-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* heading for all pages */
.mt-heading {
    margin-bottom: 30px;
    border-top: 1px solid $grey-heading;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-image: url("/img/heading-bkg.jpg");
    background-repeat: repeat-x;
    background-position: 0 0;
}

.mt-heading h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/* mt-home */
.home-center {
    display: table;
    margin: 0 auto;
}

/* blockquote */
blockquote {
    border-left: 4px solid $dark-ocean-blue;
    background-color: $background-blue;
}

.thumbnail-changed {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* Button with background */
.btn-default {
    margin: 5px;
    background-color: $dark-ocean-blue;
    border: 0 none;
    color: white;
    @include transition(background-color .25s ease-in-out);

    &.focus,
    &:focus,
    &:hover {
        background-color: $mid-ocean-blue;
        border: 0 none;
        color: white;
    }
}

/* scrolltop function */
.mtscrolltop {
    background-color: $mid-ocean-blue;
    cursor: pointer;

    font-size: 20px;
    line-height: 46px;
    text-align: center;
    vertical-align: middle;

    display: none;
    height: 46px;
    width: 46px;
    position: fixed;
    right: 10px;
    top: 50%;

    @include opacity(0);
    @include border-radius(10px);

    z-index: 998;

    span {
        color: white;
        z-index: 999;
    }

    &:hover {
        @include opacity(100);
        display: block;
    }
}

.mtshow {
    @include opacity(50);
    display: block;
}

/* footer */
.footer {
    padding: 20px 0;
    text-align: center;
}

.footer-container-top {
    background-color: $black;
    color: white;

    h4 {
        font-weight: 700;
        margin-bottom: 1.7778em;
    }

    p {
        text-align: left;
        border-top: 1px solid rgba(255, 255, 255, 0.1); /* white with opacity */
        padding: 0.785em 0 0.857em;
        margin-bottom: 0;
    }

    a {
        color: white;
        text-decoration: none;
        @include transition(color .25s ease-in-out);

        &:focus,
        &:hover {
            color: $light-ocean-blue;
            text-decoration: none;
        }
    }
}

.footer-container-bottom {
    background-color: $dark-black;
    color: $light-black;

    p {
        margin-bottom: 0;
    }

    a {
        color: $light-black;
        text-decoration: none;
        padding: 0;
        @include transition(color .25s ease-in-out);

        &:focus,
        &:hover {
            color: $light-ocean-blue;
            text-decoration: none;
        }
    }
}

/* Social media buttons on footer */
.social-media-buttons {
    text-align: center;

    a {
        font-size: 2em;
        margin-right: 10px;
    }

    a:last-child {
        margin-right: 0;
    }

    /* Facebook */
    .btn-facebook {
        background: transparent;

        &.focus,
        &:focus,
        &:hover {
            color: $facebook !important;
        }
    }

    /* Google+ */
    .btn-googleplus {
        background: transparent;

        &.focus,
        &:focus,
        &:hover {
            color: $google !important;
        }
    }

    /* Linkedin */
    .btn-linkedin {
        background: transparent;

        &.focus,
        &:focus,
        &:hover {
            color: $linkedin !important;
        }
    }

    /* Twitter */
    .btn-twitter {
        background: transparent;

        &.focus,
        &:focus,
        &:hover {
            color: $twitter !important;
        }
    }
}